body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial;
}

.top-container {
    background-color: rgba(8, 8, 87, 0.747);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding: 20px 40px;
}

.header-logo {
    width: 30px;
    cursor: pointer;
}

.links {
    display: flex;
    gap: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 100px;
}

.hero-image {
    max-width: 50%;
    height: auto;
    
}

.hero-text {
    max-width: 50%;
}

h1 {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
}

.hero-text p, .links a {
    color: #E5E7EB;
    font-size: 18px;
}

.join-button,
.call-to-action-button button {
    background-color: #3882F6;
    padding: 8px 30px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: white;
}

.middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    padding-top: 0;
    gap: 20px;
}

.middle-title p {
    font-size: 48px;
    padding: 40px;
}

.member-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 130px;
    flex-wrap: wrap;
}

.member {
    text-align: center;
}

.portrait {
    width: 150px;
}

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 120px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.quote {
    width: 50%;
    font-size: 36px;
    margin-bottom: 10px;
}

.quote-name {
    padding-left: 500px;
    margin-top: 0;
    font-size: 30px;
}

.member p {
    color: rgba(8, 8, 87, 0.747);
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px;
}
.call-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    background-color: #3882F6;
    width: 50%;
    padding: 30px 10px;
    border-radius: 10px;
}

.action-text {
    font-size: 28px;
    color: white;
}

.call-to-action-button {
    display: flex;
    flex-shrink: 0;
}

.call-to-action-button button {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.footer {
    background-color: rgba(8, 8, 87, 0.747);
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 15px;
}


.member:hover {
    transform: scale(1.5);
    transition: transform 0.2s;
}